
<article>
  <h1 id="home_name"><%= image_tag "logo.png", :height => "500px" %><br /></h1>
  <div id="intro"><%= button_to "Enter", user_session_path, :id => "btn-primary" %></div>

  
</article>
  




