<h1>Friends:</h1>
<div class="friend_board" align="center">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friendships.reverse.each do |friendship| %>
      <tr>
        <td><%= image_tag friendship.friend.image.url(:thumb) %></td>
        <td><%= friendship.friend.username %></td>
        <td><%= link_to 'Remove', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <br>

  <%= link_to 'Add friend', new_friendship_path %>
</div