
<!-- For Twitch API -->
<script src= "http://player.twitch.tv/js/embed/v1.js"></script>



<div class="row">
	<div class="one third columns" id="twitchPlayer"></div>

	<div class="comment_whole">
		<div class=" offset-by-five seven columns">
			<h3>Welcome <%= current_user.username %> </h3>
			<p>
				<strong>Title:</strong>
				<%= @post.subject %>
			</p>
			<div id="messages"></div>
			<input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
		</div>
	</div>
</div>




<!-- This is the added javscript for the Twitch API -->
<!--=================================================== -->

<script type="text/javascript">
	var options = {
		width: 925,
		height: 650,
		channel: "<%= @post.channel || imaqtpie %>"
	};
	var player = new Twitch.Player("twitchPlayer", options);
	player.setVolume(0.5);

</script>
