<% if user_signed_in? %>

<nav>
	<ul>
		<li><a href="/">Show All</a></li>
		<li><a href="/posts/new">Create</a></li>
		<li><%= link_to "Friends", friendships_path %></li>
		<li><a href="/users/edit">Settings</a></li>
		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	</ul>
	<div class="button">
		<a class="btn-open" href="#"></a>
	</div>
</nav>
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav"> 
			<h4> 
				Skills used:
				<div class="pre"> JavaScript, jQuery, Ruby on Rails, Skeleton, HTML5, CSS3, and Bourbon	</div>

			</h4>
		</ul>
		<h5 class="nav_name">By: Nicholas Vaden</h5>
		<h6>Shout out to Camerican and Oliverography </h6>
		<div class="social">
			<a href="http://facebook.com/nvaden1">
				<div class="social-icon">
					<i class="fa fa-facebook"></i>
				</div>
			</a>
			<a href="https://www.linkedin.com/in/nvaden/">
				<div class="social-icon">
					<i class="fa fa-linkedin-square"></i>
				</div>
			</a>
			<a href="https://github.com/nVaden">
				<div class="social-icon">
					<i class="fa fa-github-square"></i>
				</div>
			</a>	
		</div>
	</div>
</div>
		<% else %>

		<% end %>
