<nav>
	<ul>
		<li><a href="/">Casa</a></li>
		<li><a href="/posts/new">Posts</a></li>
		<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
	</ul>
	<div class="button">
		<a class="btn-open" href="#"></a>
	</div>
</nav>
<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">  
			<li><a href="/">Profile</a>
				<ul>
					<li><a href="/">Profile Page</a></li>
					<li><a href="/users/edit">Edit Account</a></li>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
			<li><a href="/">Posts</a>
				<ul>
					<li><a href="/">All Posts</a></li>
					<li><a href="/posts/new">New</a></li>
				</ul>
			</li>
			<li><a href="#">About</a>
				<ul>
					<li><a href="#">Development</a></li>
					<li><a href="#">Goals</a></li>
				</ul>
			</li>
		</ul>
		<div class="social">
			<a href="http://facebook.com/nvaden1">
				<div class="social-icon">
					<i class="fa fa-facebook"></i>
				</div>
			</a>
			<a href="https://www.linkedin.com/in/nvaden/">
				<div class="social-icon">
					<i class="fa fa-linkedin-square"></i>
				</div>
			</a>
			<a href="https://github.com/nVaden">
				<div class="social-icon">
					<i class="fa fa-github-square"></i>
				</div>
			</a>	
		</div>
	</div>
</div>